{% extends 'history/base.html' %}

{% block content %}

    <h1>Welcome to My Favorite Artists Page!</h1>

    <ul>
        {% for artist in artists %}
            <li>
                <a href="{% url 'history:detail' artist.id %}">
                {{ artist.name }}
                </a>
            </li>
        {% empty %}
            <li>No artists have been added yet.
            </li>
        {% endfor %}
    </ul>

    <button>
        <a href="{% url 'history:new_artist' %}">Add a New Artist</a>
    </button>

{% endblock content %}
